@import 'reset';
@import 'variables';

.main-width {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  height: 150px;
  background-color: #fff;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    // margin-top: 58px;
    // margin-right: 20px;
  }
  &__title {
    font-family: $second-font;
    font-size: 1.9rem;
    color: $primary-color;
    // margin-top: 58px;
    &--bold {
    font-weight: 800;
    }
  }
  &__separator {
    background-color: #ebebeb;
    width: 1px;
    height: 150px;
    margin-right: 50px;
  }
}

.menu {
  display: flex;
  list-style: none;
  // margin: 67px 4px 0 95px;
  &__item {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $main-font;
    font-size: 1rem;
    color: $primary-color;
    margin-right: 40px;
  }
  &__item:hover {
    font-weight: 600;
    color: $secondary-color;
  }
}

.contact {
  // margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  &__info {
    font-family: $main-font;
    font-size: .75rem;
    font-weight: 600;
    color: $primary-color;
    // margin-bottom: 22px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    font-family: $main-font;
    font-size: .9rem;
    font-weight: 600;
    color: $primary-color;
    background-color: $secondary-color;
    border: none;
    width: 122px;
    height: 41px;
  }
  &__separator {
    width: 1px;
    height: 34px;
    background-color: #babbc4;
    // margin: 3.5px 20px;
  }
  &__phone {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: $primary-color;
  }
}

.splash {
  height: 795px;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: center;
  &::before {
    content: '';
    background-color: rgba(0, 0, 0, .33);
    position: absolute;
    height: 795px;
    width: 100%;
    z-index: 1;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  &__title {
    font-family: $second-font;
    font-size: 3.5rem;
    color: #fff;
    margin-top: 235px;
  }
  &__description {
    font-family: $main-font;
    font-size: 1.9rem;
    color: #fff;
    margin: 44px 0 60px 0;
    word-spacing: 1rem;
  }
  &__icon {
    width: 100px;
  }
}

.form {
  width: 570px;
  height: 90px;
  margin-top: 60px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  &__input {
    width: 273px;
    height: 54px;
    // margin: 18px 0 18px 17px;
    border: none;
    padding-left: 23px;
    font-family: $main-font;
    font-size: 1.1rem;
    color: #000;
  }
  &__select {
    width: 108px;
    height: 54px;
    // margin: 18px 0;
    border-right: 2px solid #fff;
    background-color: $secondary-color;
    background-image: url(../images/arrow.png);
    background-position: 95%;
    background-size: 30%;
    background-repeat: no-repeat;
    .form__options {
      background: transparent;
      appearance: none;
      width: 108px;
      height: 54px;
      border: none;
      outline: none;
      font-family: $main-font;
      font-size: 1.1rem;
      font-weight: 700;
      color: #000;
      padding-left: 23px;
    }
  }
  &__button {
    width: 155px;
    height: 54px;
    // margin: 18px 0;
    border: none;
    background-color: $secondary-color;
    font-family: $main-font;
    font-size: .9rem;
    font-weight: 700;
    color: #fff;
  }
}

.services {
  height: 655px;
  display: flex;
  &__block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &--left {
      background-color: $primary-color;
    }
    &--right {
      background-color: $secondary-color;
    }
  }
  &__content {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: $main-font;
    text-align: center;
    &--left {
      margin-right: -60px;
    }
    &--right {
      margin-left: -60px;
    }
  }
  &__icon {
    width: 168px;
  }
  &__dotcom {
    font-size: 8.3em;
    font-weight: 600;
    color: #000;
  }
  &__title {
    font-size: 2.25em;
    font-weight: 600;
  }
  &__description {
    font-size: 0.9em;
    line-height: 24px;
    margin-top: -40px;
  }
  &__button {
    width: 155px;
    height: 60px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.1em;
  }
}

.features {
  height: 700px;
  background-color: #fbf8f1;
  background-image: url(../images/features-background.png);
  background-repeat: no-repeat;
  background-position: 95%;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 17%;
    margin: 75px 0;
  }
  &__title {
    font-family: $main-font;
    font-size: 1.5em;
    &--big {
      font-size: 3em;
      font-weight: 600;
    }
  }
  &__highlights {
    display: flex;
    justify-content: space-around;
    height: 50%;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 22%;
  &__line {
    width: 70px;
    border-bottom: 3px solid #8d8d99;
  }
  &__title {
    font-family: $second-font;
    font-size: 1.9em;
    color: #f4d320;
  }
  &__description {
    font-family: $main-font;
    font-size: 0.9em;
    line-height: 24px;
  }
}
