@import 'reset';
@import 'variables';

.main-width {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  height: 150px;
  background-color: #fff;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    // margin-top: 58px;
    // margin-right: 20px;
  }
  &__title {
    font-family: $second-font;
    font-size: 1.9rem;
    color: $primary-color;
    margin: 0 40px 0 -20px;
    // margin-top: 58px;
    &--bold {
    font-weight: 800;
    }
  }
  &__separator {
    background-color: #ebebeb;
    width: 1px;
    height: 150px;
    margin-right: 50px;
  }
}

.menu {
  display: flex;
  list-style: none;
  // margin: 67px 4px 0 95px;
  &__item {
    text-transform: uppercase;
    text-decoration: none;
    font-family: $main-font;
    font-size: 1rem;
    color: $primary-color;
    margin-right: 40px;
    transition: all 0.2s ease;
  }
  &__item:hover {
    font-weight: 600;
    color: $secondary-color;
  }
}

.contact {
  // margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  &__info {
    font-family: $main-font;
    font-size: .75rem;
    font-weight: 600;
    color: $primary-color;
    // margin-bottom: 22px;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    font-family: $main-font;
    font-size: .9rem;
    font-weight: 600;
    color: $primary-color;
    background-color: $secondary-color;
    border: none;
    width: 122px;
    height: 41px;
    transition: all 0.4s ease;
    &:hover {
      color: #fff;
      background-color: $primary-color;
      transform: scale(1.1);
    }
  }
  &__separator {
    width: 1px;
    height: 34px;
    background-color: #babbc4;
  }
  &__phone {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: $primary-color;
  }
}

.splash {
  height: 795px;
  background-image: url(../images/main.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &::before {
    content: '';
    background-color: rgba(0, 0, 0, .33);
    position: absolute;
    height: 795px;
    width: 100%;
    z-index: 1;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  &__title {
    font-family: $second-font;
    font-size: 3.5rem;
    color: #fff;
    margin-top: 235px;
  }
  &__description {
    font-family: $main-font;
    font-size: 1.9rem;
    color: #fff;
    margin: 44px 0 60px 0;
    word-spacing: 1rem;
  }
  &__icon {
    width: 100px;
  }
}

@keyframes bounce {
  0% {
    background-position: 95% 30%;
  }
  100% {
    background-position: 95% 60%;
  }
}

.form {
  width: 570px;
  height: 90px;
  margin-top: 60px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  &__input {
    width: 273px;
    height: 54px;
    border: none;
    padding-left: 23px;
    font-family: $main-font;
    font-size: 1.1rem;
    color: #000;
    outline-color: $secondary-color;
  }
  &__select {
    width: 108px;
    height: 54px;
    border-right: 2px solid #fff;
    background-color: $secondary-color;
    background-image: url(../images/arrow.png);
    background-position: 95%;
    background-size: 30%;
    background-repeat: no-repeat;
    animation: bounce .5s infinite ease-in-out alternate;
    .form__options {
      background: transparent;
      appearance: none;
      width: 108px;
      height: 54px;
      border: none;
      outline: none;
      font-family: $main-font;
      font-size: 1.1rem;
      font-weight: 700;
      color: #000;
      padding-left: 23px;
    }
  }
  &__button {
    width: 155px;
    height: 54px;
    border: none;
    background-color: $secondary-color;
    font-family: $main-font;
    font-size: .9rem;
    font-weight: 700;
    color: #fff;
    transition: all 0.4s ease;
    &:hover {
      background-color: $primary-color;
    }
  }
}

.services {
  height: 655px;
  display: flex;
  &__block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;
    &--left {
      background-color: $primary-color;
      &:hover .services__dotcom{
        color: $secondary-color;
      }
    }
    &--right {
      background-color: $secondary-color;
    }
  }
  &__content {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: $main-font;
    text-align: center;
    &--left {
      margin-right: -60px;
    }
    &--right {
      margin-left: -60px;
    }
  }
  &__icon {
    width: 168px;
  }
  &__dotcom {
    font-size: 8.3em;
    font-weight: 600;
    color: #000;
    user-select: none;
    cursor: default;
    transition: all 0.5s ease;
  }
  &__title {
    font-size: 2.25em;
    font-weight: 600;
  }
  &__description {
    font-size: 0.9em;
    line-height: 24px;
    margin-top: -40px;
  }
  &__button {
    width: 155px;
    height: 60px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.1em;
    outline: none;
    transition: all 0.4s ease;
    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      transform: scale(1.1);
    }
  }
}

.features {
  height: 700px;
  background-color: #fbf8f1;
  background-image: url(../images/features-background.png);
  background-repeat: no-repeat;
  background-position: 95%;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 17%;
    margin: 75px 0;
  }
  &__title {
    font-family: $main-font;
    font-size: 1.5em;
    &--big {
      font-size: 3em;
      font-weight: 600;
    }
  }
  &__highlights {
    display: flex;
    justify-content: space-around;
    height: 50%;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 22%;
  &__line {
    width: 70px;
    border-bottom: 3px solid #8d8d99;
  }
  &__title {
    font-family: $second-font;
    font-size: 1.9em;
    color: #f4d320;
  }
  &__description {
    font-family: $main-font;
    font-size: 0.9em;
    line-height: 24px;
  }
}

.testimonial {
  height: 585px;
  background-color: #fff;
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
  }
  &__comments {
    display: flex;
    justify-content: space-between;
  }
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 45%;
  font-family: $main-font;
  &__header {
    font-size: 2.25em;
    font-weight: 600;
  }
  &__description {
    line-height: 24px;
    color: #adadad;
  }
}

.companies {
  display: flex;
  justify-content: space-between;
  width: 65%;
  &__logo {
    transition: all .7s ease;
    &:hover {
      transform: scale(1.2);
      margin: 0 20px;
      box-shadow: 5px 10px 5px #888888;
    }
  }
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 180px;
  width: 370px;
  background-color: #faf9f9;
  padding: 20px;
  transition: all .7s ease;
  &:hover {
    transform: scale(1.1);
    margin: 0 20px;
    box-shadow: 5px 10px 5px #888888;
    background-color: $primary-color;
    color: #fff;
  }
  &__content {
    font-family: $second-font;
    font-style: italic;
    font-size: 0.9em;
    line-height: 24px;
    color: #a4a4a4;
  }
  &__author {
    font-family: $main-font;
    font-weight: 600;
  }
  &__image {
    position: absolute;
    bottom: -50px;
    right: 20px;
  }
}

.pricing {
  height: 270px;
  background-color: $primary-color;
  display: flex;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $main-font;
    height: 30%;
  }
  &__title {
    font-size: 2.25em;
    font-weight: 600;
    color: #fff;
  }
  &__info {
    font-size: 1.1em;
    color: #67687b;
  }
  &__button {
    width: 235px;
    height: 90px;
    font-family: $main-font;
    font-weight: 600;
    font-size: 1.1em;
    color: $primary-color;
    background-color: $secondary-color;
    border: 4px solid #fff;
    outline: none;
    transition: all 0.4s ease;
    &:hover {
      background-color: transparent;
      color: #fff;
      transform: scale(1.1);
    }
  }
}

.footer {
  height: 655px;
  background-color: #363855;
  background-image: url(../images/world-map.png);
  background-repeat: no-repeat;
  background-position: 22%;
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }
  &__location {
    display: flex;
    justify-content: space-between;
    font-family: $main-font;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    width: 20%;
    position: absolute;
    bottom: 250px;
    left: 620px;
  }
  &__pin {

  }
  &__address {

  }
  &__side-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 60%;
    margin-top: 100px;
    font-family: $main-font;
    color: #fff;
  }
  &__header {
    font-size: 1.1em;
    font-weight: 600;
  }
  &__nav {
    list-style-type: none;
    text-align: right;
    margin: 35px 0 45px 0;
    &-li {
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid #565870;
      transition: all 0.7s ease;
      &:hover {
        border-bottom: 1px solid $secondary-color;
      }
    }
    &-item {
      color: #fff;
      text-decoration: none;
    }
  }
  &__social {
    color: #ffe13e;
    margin-bottom: 70px;
    width: 7%;
    display: flex;
    justify-content: space-between;
  }
  &__back-to-top {
    cursor: pointer;
    font-size: 0.75em;
  }
  &__copyrights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    margin-top: 30px;
    font-family: $main-font;
    font-size: 0.9em;
    color: #fff;
  }
  &__icon {
    height: 30px;
    transform: rotate(-15deg);
  }
}

@import 'mq/mobile-small';
@import 'mq/mobile';
@import 'mq/tablet';
@import 'mq/desktop-small';
