@media screen and (max-width: 425px) {

  .main-width {
    max-width: 425px;
  }

  .header {
    &__content {
      width: 100%;
      justify-content: space-around;
    }
    &__title {
      margin: 0 0 0 10px;
    }
  }

  .menu {
    li {
      margin-top: 5px;
    }
    flex-direction: column;
    text-align: right;
    &__item {
      margin-top: 10px;
      margin-right: 0;
    }
  }

  .contact {
    display: none;
  }

  .splash {
    &__title {
      margin-top: 100px;
    }
  }

  .form {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
    &__input {
      width: 100%;
    }
    &__select {
      width: 50%;
    }
    &__button {
      width: 50%;
    }
  }

  .services {
    flex-wrap: wrap;
    // height: 100%;
    height: 1100px;
    &__block {
      width: 100%;
    }
    &__content {
      width: 80%;
      height: 100%;
      &--left {
        margin: 0;
      }
      &--right {
        margin: 0;
      }
    }
  }

  .features {
    height: 100%;
    background-image: none;
    &__header {
      margin: 45px 0;
    }
    &__highlights {
      flex-direction: column;
      align-items: center;
    }
  }

  .highlight {
    width: 80%;
    margin: 20px 0;
    &__line {
      display: none;
    }
  }

  .testimonial {
    height: 100%;
    &__clients {
      flex-direction: column;
    }
    &__comments {
      flex-direction: column;
    }
  }

  .clients {
    width: 80%;
    text-align: center;
    margin: 20px 0;
  }

  .companies {
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    &__logo {
      margin-bottom: 15px;
      &:hover {
        transform: scale(1.1);
        margin: 15px 0;
        box-shadow: none;
      }
    }
  }

  .comment {
    width: 100%;
    margin-bottom: 55px;
    &:hover {
      transform: none;
      margin: 0 0 55px 0;
      box-shadow: none;
    }
  }

  .pricing {
    &__content {
      flex-direction: column;
      text-align: center;
    }
    &__header {
      height: auto;
    }
  }

  .footer {
    &__side-panel {
      align-items: center;
    }
    &__nav {
      text-align: center;
    }
    &__location {
      display: none;
    }
    &__social {
      width: 20%;
    }
  }

}
